*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    overflow: hidden;
}

.register{
    width: 100%;
    height: 100vh;
    background-color: #ECEFF1;
}

.form{
    width: 30%;
    height: 100vh;
    background-color: white;
    margin: auto;
}

.logo{
    width: 100%;
    height: 20vh;
    /* background-color: black; */
    margin-bottom: 5%;
}

.logo-img{
    margin-left: 30%;
    width: 40%;
}

.s-btn{
    border: none;
    padding: 8px;
    border-radius: 5px;
    background-color: #637178;
    color: white;
    width: 100%;
}

.social-icon{
    opacity: 0.5;
}
.social-icon i{
    font-size: 25px;
    padding-top: 0;
    padding: 10px;
}

.last-p{
    font-size: 15px;
    text-align: center;
    padding-top: 20px;
    opacity: 0.7;
}

@media screen and (max-width: 400px){
    .body{
        overflow: auto;
    }
    .form{
        width: 100%;
    }
}

@media (min-width: 400px) and (max-width: 600px){
    .body{
        overflow: auto;
    }
    .form{
        width: 80%;
    }
}

@media (min-width: 600px) and (max-width: 900px){
    .body{
        overflow:auto;
    }
    .form{
        width: 60%;
    }

    .logo{
        margin-bottom: 10%;
    }
}